<html>
<title>Speaking Bible</title>
<body>

  <center>

 <%= image_tag "logo-cross.jpg ",height: '400', width: '300'%>
 </center>
 <div>
  <br><br>
  <font face="verdana">
  <h3 align="center" font="Lucida Grande">Coming Soon !!! </h3>
</div>
<div>
<h5 align="center">He who has ears, let him hear!</h5>

</font>
</div>
 <style type="text/css" media="screen">
 h5 {
  font-family: "freemono";
 }

 h3 {
        
        color: "green";
        font-family: "freemono";
        font-variant: 
      }
</style>
</body>

</html>